:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: -24px;
}

.order-editor {
  cursor: default !important;
  min-height: 90%;
}
.order-editor__header {
  display: block;
  position: sticky;
  top: -24px;
  background: #fafafaef;
  padding: 24px 0;
  z-index: 1;
}

.order-editor__container {
  flex: 1;
  //padding-top: 24px;
  position: relative;
}

.order-editor__section:first-child .order-editor__section__title {
  margin-top: 0;
}

.order-editor__no-items {
  padding: 64px;
  text-align: center;
}
