/* You can add global styles to this file, and also import other style files */
.flex-row {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.text-center {
  text-align: center;
}

.block-spaced {
  padding: {
    top: 25px;
    bottom: 25px;
  }
}
