HTTP_PORT=8000
HTTP_HOST=127.0.0.1
LOG_LEVEL=ALL
LOG_PATH=.
DB_HOST=127.0.0.1
DB_PORT=3366
DB_USER=root
DB_PASS=securepa66!
APP_KEY=L7O0NG2ANDD4IFFC1ULT2HA34SHST9RING
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=rediska
TEST_CONNECTION=true
MAX_THREAD_COUNT=2
