<div class="content-container">
  <div class="content-area flex-row">
    <router-outlet></router-outlet>
  </div>
  <nav class="sidenav">
    <section class="sidenav-content">
      <a routerLink="/management" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
        Menu
      </a>
      <a routerLink="/management/catalog" routerLinkActive="active" class="nav-link">
        Items
      </a>
      <a routerLink="/management/users" routerLinkActive="active" class="nav-link">
        Users
      </a>
    </section>
  </nav>
</div>
