:host {
  padding: 24px;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.order-grid.table {
  border-collapse: collapse;
}

.order-grid__th--client {
  width: 200px;
}

.order-grid__cell {
  //height: 32px;
  &:after {
    content: '-';
  }
}

.order-grid__cell--ordered {
  background: #feecb5;
  border: 1px solid #ffdc0b;
  &:after {
    content: '+';
  }
}

.order-grid__user {
  background: #fafafa;
  font-weight: bold;
  border-right: 1px solid #ccc;
}

.order-grid__legend {
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 1px solid;
  margin-left: 5px;
  &:first-child {
    margin-left: 0;
  }
}

.order-grid__legend--unordered {
  border-color: #ccc;
  background: white;
}

.order-grid__legend--ordered {
  background: #feecb5;
  border-color: #ffdc0b;
}
