<app-header-toolbar label="Users">
  <button type="button" class="btn btn-danger" *ngIf="checkedIds.length > 0">
    <clr-icon shape="trash"></clr-icon>
    <span>Delete selected</span>
  </button>

  <button type="button" class="btn btn-success" (click)="openItemCreator()">
    <clr-icon shape="plus"></clr-icon>
    <span>Add new</span>
  </button>
</app-header-toolbar>

<!-- data fetch error message -->
<app-poster
  *ngIf="isFailed"
  class="poster--error"
  icon="bug"
  label="Failed to get users list"
>
  <code class="poster__error">{{error}}</code>
  <a href="#" (click)="fetchUsers()">Try again</a>
</app-poster>

<!-- Data fetch preloader -->
<app-spinner *ngIf="isLoading" style="height: 100%"></app-spinner>

<!-- Save success message -->
<app-alert
  *ngIf="showSuccessMessage"
  type="success"
  icon="check-circle"
  [dismissable]="false"
>
  Changes have been saved successfully
</app-alert>

<!-- Users data grid -->
<div class="users-list">
  <table class="table">
    <thead>
      <tr>
        <th>
          <input type="checkbox" disabled />
        </th>
        <th>
          Name
        </th>
        <th>
          Email
        </th>
        <th>
          Group
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          <input
            type="checkbox"
            [checked]="isUserChecked(user.id)"
            (change)="toggleUserCheck(user.id)"
            [disabled]="user.id == currentUserId"
          />
        </td>

        <td>
          <span class="text-link" (click)="editItem(user)">
            {{user.firstName}} {{user.lastName}}
          </span>
        </td>

        <td>
          {{user.email}}
        </td>

        <td>
          {{getGroupName(user.level)}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Editor modal -->
<clr-modal
  clrModalSize="md"
  [(clrModalOpen)]="showEditor"
  [clrModalClosable]="!blockModal"
  [clrModalStaticBackdrop]="!blockModal"
>
  <h3 class="modal-title">
    <span *ngIf="editorOperation == 0">Create a new</span><span *ngIf="editorOperation == 1">Edit the</span> user
  </h3>
  <div class="modal-body">
    <app-user-editor
      *ngIf="showEditor"
      [enabled]="showEditor"
      [user]="editableUser"
      (success)="onEditFinish(true)"
      (error)="onEditFinish(false)"
      (loading)="onEditLoading()"
    ></app-user-editor>
  </div>
</clr-modal>

