:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating__count {
  margin-left: auto;
  margin-right: 5px;
  cursor: default;
}

.rating {

}

.rating__star {
  color: orange;
}

.rating__star--selectable {
  cursor: pointer;
}

.rating__star--half {
  transform: rotateY(180deg);
}
