<!-- Page header -->
<app-header-toolbar label="Dishes">
  <button *ngIf="selectedIds.length > 0" type="button" class="btn btn-danger">
    <clr-icon shape="trash"></clr-icon>
    <span>Delete selected</span>
  </button>


  <button type="button" class="btn btn-success" (click)="openDishCreator()">
    <clr-icon shape="plus"></clr-icon>
    <span>Add new</span>
  </button>
</app-header-toolbar>

<!-- Items load fail message -->
<app-retry-alert
  *ngIf="isFailed"
  text="Failed to get list of dishes"
  [errorMessage]="error"
  (retry)="fetchData()"
></app-retry-alert>

<!-- Operation success message -->
<app-alert
  *ngIf="showSuccessMessage"
  type="success"
  icon="check-circle"
  [dismissable]="false"
>
  Item <span *ngIf="operation == 0">added</span><span *ngIf="operation == 1">changed</span> successfully
</app-alert>

<!-- Items preloader -->
<app-spinner *ngIf="isLoading"></app-spinner>

<!-- Items list -->
<div class="row" *ngIf="isLoaded">
  <div
    *ngFor="let item of items"
    class="col-lg-3 col-md-6 col-sm-12 col-xs-12"
  >
    <app-food-card
      [rating]="5"
      [label]="item.label"
      [description]="item.description"
      [category]="getDishCategory(item.type)"
      [imageUrl]="item.photoUrl"
      [rateable]="false"
      [editable]="true"
      [selectable]="true"
      [badgeColor]="getDishCategoryColor(item.type)"
      (checkChange)="onItemSelect(item.id, $event)"
      (edit)="editItem(item)"
    ></app-food-card>
  </div>
</div>

<!-- Editor modal -->
<clr-modal
  clrModalSize="md"
  [(clrModalOpen)]="showEditor"
  [clrModalClosable]="!blockModal"
  [clrModalStaticBackdrop]="!blockModal"
>
  <h3 class="modal-title">
    <span *ngIf="operation == 0">Create a new</span><span *ngIf="operation == 1">Edit the</span> dish
  </h3>
  <div class="modal-body">
    <app-dish-editor
      *ngIf="showEditor"
      [enabled]="showEditor"
      [dish]="editableDish"
      [compactMode]="true"
      (success)="onEditFinish(true)"
      (error)="onEditFinish(false)"
      (loading)="onEditLoading()"
      (dismiss)="onEditDismiss()"
    ></app-dish-editor>
  </div>
</clr-modal>
