<h1>Dishes</h1>
<app-retry-alert
  *ngIf="isFailed"
  text="Failed to get list of dishes"
  [errorMessage]="error"
  (retry)="fetchData()"
></app-retry-alert>
<app-spinner *ngIf="isLoading"></app-spinner>
<div class="row" *ngIf="isLoaded">

  <div
    *ngFor="let item of items"
    class="col-lg-3 col-md-6 col-sm-12 col-xs-12"
  >
    <app-food-card
      [rating]="5"
      [label]="item.label"
      [description]="item.description"
      [category]="getDishCategory(item.type)"
      [rateable]="false"
      [editable]="true"
      [selectable]="true"
      [badgeColor]="getDishCategoryColor(item.type)"
    ></app-food-card>
  </div>

</div>
