<!-- Container -->
<div class="row" style="flex: 1">
  <div class="menu-editor__container flex">
    <!-- Page header -->
    <div class="menu-editor__header">
      <app-header-toolbar [label]="'Menu for ' + displayedDate" [smaller]="true">
        <button
          type="button"
          class="btn btn-success"
          *ngIf="collectionChanged"
          [clrLoading]="saveStatus.isLoading"
          [disabled]="saveStatus.isLoading"
          (click)="saveChanges()"
        >
          <clr-icon *ngIf="!saveStatus.isLoading" shape="floppy"></clr-icon>
          <span *ngIf="!saveStatus.isLoading">Save</span>
          <span *ngIf="saveStatus.isLoading">Saving...</span>
        </button>

        <button type="button" class="btn btn-primary" [disabled]="saveStatus.isLoading">
          <clr-icon shape="calendar"></clr-icon>
          <span>Change date</span>
        </button>
      </app-header-toolbar>

      <!-- Dishes save success message -->
      <app-alert *ngIf="saveStatus.isLoaded" type="success" icon="check-circle" [dismissable]="false">
        Changes saved successfully
      </app-alert>

      <!-- Dishes save fail message -->
      <app-alert *ngIf="saveStatus.isFailed" type="danger" icon="exclamation-circle" [dismissable]="false">
        Failed to save changes: {{saveStatus.error}}
      </app-alert>
    </div>

    <!-- Items load fail message -->
    <app-retry-alert
      *ngIf="menuItemsStatus.isFailed"
      text="Failed to get list of dishes"
      [errorMessage]="menuItemsStatus.error"
      (retry)="updateMenuItemsList()"
    ></app-retry-alert>

    <!-- Dish menu items preloader -->
    <app-spinner *ngIf="menuItemsStatus.isLoading" style="height: 100%"></app-spinner>

    <!-- Menu dishes list -->
    <div
      *ngIf="menuItemsStatus.isLoaded"
      class="menu-editor"
      [dropZones]="cartDropZone"
      dnd-droppable
      (onDropSuccess)="onDrop($event)"
    >
      <app-poster
        *ngIf="menuEmpty"
        class="sith"
        label="No items"
        icon="add-text"
      >
        The menu is empty. Drag items from the right side to add items.
      </app-poster>

      <div *ngIf="!menuEmpty" class="menu-editor__sections">
        <ng-template ngFor let-section [ngForOf]="menuItems" let-i="index">
          <section *ngIf="section.length > 0" class="menu-editor__section">
            <h3 class="menu-editor__section__title">{{dishTypes[i]}}</h3>
            <div class="row" *ngIf="section.length > 0">
              <div
                *ngFor="let item of section"
                class="col-lg-3 col-md-6 col-sm-12 col-xs-12"
              >
                <app-food-card
                  class="menu-editor__item"
                  dnd-draggable
                  [dragEnabled]="!saveStatus.isLoading"
                  [dropZones]="catalogDropZone"
                  [dragData]="item"
                  (onDragStart)="dragTrashStart = true"
                  (onDragEnd)="dragTrashStart = false"
                  [rating]="0"
                  [label]="item.label"
                  [description]="item.description"
                  [category]="getDishCategory(item.type)"
                  [imageUrl]="item.photoUrl"
                  [rateable]="false"
                  [editable]="false"
                  [selectable]="false"
                  [badgeColor]="getDishCategoryColor(item.type)"
                ></app-food-card>
              </div>
            </div>
          </section>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="col-xs-3 flex-row menu-editor__sidenav">
    <app-spinner [inline]="true" *ngIf="dishesStatus.isLoading"></app-spinner>
    <!-- Dishes list -->
    <app-dishes-list
      *ngIf="dishesStatus.isLoaded"
      [items]="dishes"
      [selectedIds]="selectedIds"
      [catalogDropZone]="catalogDropZone"
      [cartDropZone]="cartDropZone"
      [allowDrag]="menuItemsStatus.isLoaded && (!saveStatus.isLoading)"
      (drop)="onItemRemove($event)"
      [(showDragBanner)]="dragTrashStart"
    ></app-dishes-list>
  </div>
</div>
