<app-alert
  *ngIf="isFailed"
  type="danger"
  icon="exclamation-circle"
  [dismissable]="false"
>
  Failed to <span *ngIf="userExists">update</span><span *ngIf="!userExists">create</span> user: {{error}}
</app-alert>

<form
  class="form"
  [formGroup]="userForm"
  (ngSubmit)="onSubmit()"
>

  <section class="form-block">
    <label>Basic Information</label>
    <div class="form-group">
      <label for="firstName">First name</label>
      <label
        for="firstName"
        aria-haspopup="true"
        role="tooltip"
        class="tooltip tooltip-validation tooltip-sm"
        [class.invalid]="isInvalid('firstName')"
      >
        <input
          id="firstName"
          type="text"
          maxlength="64"
          formControlName="firstName"
        >
        <span class="tooltip-content">
          First name is required.
        </span>
      </label>
    </div>

    <div class="form-group">
      <label for="lastName">Last name</label>
      <label
        for="lastName"
        aria-haspopup="true"
        role="tooltip"
        class="tooltip tooltip-validation tooltip-sm"
        [class.invalid]="isInvalid('lastName')"
      >
        <input
          id="lastName"
          type="text"
          maxlength="64"
          formControlName="lastName"
        >
        <span class="tooltip-content">
          Last name is required.
        </span>
      </label>
    </div>


    <div class="form-group">
      <label for="email">Email</label>
      <label
        for="email"
        aria-haspopup="true"
        role="tooltip"
        class="tooltip tooltip-validation tooltip-sm"
        [class.invalid]="isInvalid('email')"
      >
        <input
          id="email"
          type="email"
          maxlength="64"
          formControlName="email"
        >
        <span class="tooltip-content">
          Email is required.
        </span>
      </label>
    </div>
  </section>
  <section class="form-block" style="margin-bottom: 0">
    <label>Security</label>
    <div class="form-group">
      <label for="password">Password</label>
      <label
        for="password"
        aria-haspopup="true"
        role="tooltip"
        class="tooltip tooltip-validation tooltip-sm"
        [class.invalid]="isInvalid('password')"
      >
        <input
          id="password"
          type="password"
          maxlength="64"
          formControlName="password"
        >
        <span class="tooltip-content">
          Password is required.
        </span>
      </label>
    </div>

    <div class="form-group" *ngIf="!userExists">
      <label for="level">User group</label>
      <div class="select">
        <select
          id="level"
          name="level"
          formControlName="level"
        >
          <option
            *ngFor="let group of groups; let i = index"
            [value]="i"
          >
            {{group}}
          </option>
        </select>
      </div>
    </div>
    <div class="modal-footer" *ngIf="userExists">
      <button
        type="button"
        class="btn btn-primary"
        [clrLoading]="isLoading"
        [disabled]="(!userForm.dirty) || userForm.invalid || isLoading"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
    <div class="modal-footer" *ngIf="!userExists">
      <button
        type="button"
        class="btn btn-primary"
        [clrLoading]="isLoading"
        [disabled]="userForm.invalid || isLoading"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </section>
</form>
