<div class="card food-card">
  <div class="food-card__frame">
    <img src="/assets/sushi.jpg" class="card-media-image food-card__image">
  </div>
  <div class="card-block">
    <div class="card-text">
      <h4 class="food-card__title">
        Гречка+Биточок під грибним соусом
      </h4>
      <p class="food-card__text">
        No description
      </p>

    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="food-card__category col-xs-4">
        <span class="badge badge-success">Garnish</span>
      </div>
      <div class="rating text-right col-xs-8">
        <app-rating [value]="4.5"></app-rating>
      </div>
    </div>
  </div>
</div>
