$color-active: #0094d2;

:host {
  display: block;
}

.food-card {
  overflow: hidden;
}

.food-card--editable:hover {
  .food-card__image {
    filter: blur(5px);
  }
  .food-card__overlay {
    visibility: visible;
  }
}

.food-card--selected {
  box-shadow: 0 0.125rem 0 0 $color-active;
  border: 1px solid $color-active;
}

.food-card__footer--active {
  padding: 0;
  overflow: hidden;
}

.btn.food-card__check {
  &:focus, &:active {
    outline: 0;
  }
}

.btn.food-card__uncheck {
  padding: .5rem .75rem;
  height: auto;
  border-radius: 0;
}

.food-card__frame {
  position: relative;
  overflow: hidden;
}

.food-card__overlay {
  visibility: hidden;
  position: absolute;
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.food-card__image {
  width: 100%;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.food-card__title {
  margin-top: 0;
}

.food-card__text {
  margin-top: 0.5rem;
}
