:host {
  display: block;
}

.food-card {
  overflow: hidden;
}

.food-card__frame {

}

.food-card__image {
  width: 100%;
}

.food-card__title {
  margin-top: 0;
}

.food-card__text {
  margin-top: 0.5rem;
}
