:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.dishes-list__search {
  height: auto;
}

.dishes-list__container {
  overflow: auto;
  flex: 1;
}

.card-header.dishes-list__label {
  font-size: 11pt;
}

.dishes-list__type {
  float: right;
  margin-right: 0;
}
