:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.dishes-list__search {
  height: auto;
  margin-right: 14px;
  padding: 15px 0;
}

.dishes-list__container {
  overflow: auto;
  flex: 1;
}

.card-header.dishes-list__label {
  font-size: 11pt;
}

.dishes-list__type {
  float: right;
  margin-right: 0;
}

.dishes-list__omnibox {
  width: 100%;
  box-sizing: border-box;
}

.dishes-list__card.card {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
