<div class="dishes-list__search">
  <input type="text" name="dishSearch" [formControl]="searchBoxControl" />
</div>
<div class="dishes-list__container">
  <div class="dishes-list" *ngIf="displayedItems.length > 0">
    <div class="card" *ngFor="let item of displayedItems">
      <div class="card-header">
        {{item.label}}

        <span class="label label-{{getDishCategoryColor(item.type)}}" style="float: right">
          {{getDishCategory(item.type)}}
        </span>
      </div>
    </div>
  </div>
</div>
